---
layout: archive
---

{{ content }}

<h1>Download The Latest Printer Drivers</h1>

<p>One of the most important things to do when you set up a new printer is to download the latest drivers. Drivers are what enable your computer to communicate with your printer and they are usually available for free on the manufacturer’s website.</p>

<p>If you can’t find the drivers you need on the manufacturer’s website, there are a few other places you can look. DriverGuide.com is a comprehensive database of device drivers, and it’s likely that they have the driver you need. You can also try using a driver update tool like DriverMax or Driver Genius to scan your system for outdated drivers and install the latest ones automatically.</p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Drivers" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
